@import url(/src/assets/css/theme.css);

.border-content {
    border-right: 2px solid var(--background);
}

.edit-text-content:hover, .edit-text-content:focus, .edit-text-content:active {
    outline: none;
}

.border-title {
    border-bottom: 2px solid var(--background);
}

.tab-manager {
    border-bottom: 2px solid var(--accent);
}

.tab-outlook {
    font-family: var(--font-ibm-plex-mono);
    font-weight: 500;
    color: var(--color-blue-light-light);
    cursor: pointer;
}

.tab-outlook-is-active {
    color: var(--background);
    background-color: var(--accent);
    border-radius: 8px 8px 0px 0px;
}

.output-article-content-editor ul, ol {
    list-style-position: inside !important;
}